################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Visual Studio 2012/ApiNoIp/ApiNoIp/bin
/Visual Studio 2012/ApiNoIp/ApiNoIp/obj
