<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdminDominios.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdminDominios.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <applicationSettings>
        <AdminDominios.My.MySettings>
            <setting name="DominioAborrar" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>www.unidaddigital01.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="url_NoIP" serializeAs="String">
                <value>https://www.noip.com/api/mdns/api-rpc.php</value>
            </setting>
            <setting name="email_NoIP" serializeAs="String">
                <value>dns@publicar.com</value>
            </setting>
            <setting name="customerid_NoIP" serializeAs="String">
                <value>publicar_dns</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>appBorrarDominio.log</value>
            </setting>
            <setting name="StatsLogFilePath" serializeAs="String">
                <value>C:/LogsAppPropias/BorradoDominiosNoip/</value>
            </setting>
            <setting name="IPSitioWeb" serializeAs="String">
                <value>107.23.132.196</value>
            </setting>
        </AdminDominios.My.MySettings>
    </applicationSettings>
    <userSettings>
        <AdminDominios.My.MySettings>
            <setting name="infoMXEveryOne1" serializeAs="String">
                <value>sitemail.everyone.net</value>
            </setting>
            <setting name="infoMXEveryOne2" serializeAs="String">
                <value>sitemail2.everyone.net</value>
            </setting>
            <setting name="IPSitioWeb_Infoplus" serializeAs="String">
                <value>1.2.3.4</value>
            </setting>
            <setting name="grupoInfoPlus_NoIP" serializeAs="String">
                <value>dominiosInfoPlus</value>
            </setting>
            <setting name="grupoDominios_NoIP" serializeAs="String">
                <value>dominiosPropios</value>
            </setting>
            <setting name="grupoAdminSites_NoIP" serializeAs="String">
                <value>domPropiosAdminSites</value>
            </setting>
            <setting name="SitioInfoMXEveryOne" serializeAs="String">
                <value>siteurl.everyone.net</value>
            </setting>
            <setting name="infoPopEveryOne" serializeAs="String">
                <value>pop.everyone.net</value>
            </setting>
            <setting name="infoSmtpEveryOne" serializeAs="String">
                <value>smtp.everyone.net</value>
            </setting>
            <setting name="infoImapEveryOne" serializeAs="String">
                <value>imap.everyone.net</value>
            </setting>
            <setting name="infoMXBrasil" serializeAs="String">
                <value>quimera.frontier.com.br</value>
            </setting>
            <setting name="infoWebmailBrasil" serializeAs="String">
                <value>webmailpublicar.frontier.com.br</value>
            </setting>
            <setting name="infoPopBrasil" serializeAs="String">
                <value>quimera.frontier.com.br</value>
            </setting>
            <setting name="infoSmtpBrasil" serializeAs="String">
                <value>quimera.frontier.com.br</value>
            </setting>
            <setting name="IPReadServer" serializeAs="String">
                <value>107.23.132.196</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Administracion2013!.$</value>
            </setting>
        </AdminDominios.My.MySettings>
    </userSettings>
</configuration>
